.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.img{
    width: 35px;
}
   
.button{
    margin: 0;
    border: 0;
    border-radius: 20px;
    background-color: #F7F7F9;
}

.input{
    width: 140px;
    height: 30px;
    border-bottom: 1px solid rgb(201, 200, 200);
    border-left:0;
    border-right: 0;
    border-top: 0;
    margin-right: 20px;
    outline: none;
    background-color: #F7F7F9;
    font-family: "Quicksand", sans-serif;
    font-weight:500;
    
    color: #2F204F;
    font-size: 15px;
    text-align: center;
}
